---
import Layout from '../layouts/Layout.astro';
import Splash from '../components/splash.astro'
---

<Layout title="Welcome to Astro.">
	<header class="py-4 px-10 flex items-center fixed top-0  w-full justify-between">
		<div class="flex flex-grow basic-0">
			<img src="../../public/planets.png" class="h-10 w-10"  alt="logo">
		</div >
		<nav>
			<ul class="flex text-sm [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
				<li><a href="#">About</a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="#">Tecnologies</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>

	<main class=" bg-violet-900"> 
		<div class="w-full h-screen bg-gray-900">
			<Splash/>
		</div>
		<div class="w-full h-screen bg-violet-900">

		</div>
		<div class="w-full h-screen bg-slate-400">

		</div>
		<div class="w-full h-screen bg-teal-400">

		</div>
	</main>
	<footer class="py-10 px-10 flex items-center   w-full justify-center z-30 text-white">
		<nav>
			<p>Powered by WEB MASTER STUDIO ® | Copyright 2024 © - Todos los Derechos Reservados </p>
			<!-- <ul class="flex  text-gray-500 text-sm [&>li>a]:white [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:rounded">
				<li><a class="hover:bg-gray-400 hover:text-black" href="#">Web Master Studio © 2024</a></li>
				<li><a class="hover:bg-gray-400 hover:text-black" href="#">Privacy & Legal</a></li>
				<li><a class="hover:bg-gray-400 hover:text-black" href="#">Vehicle Recalls</a></li>
				<li><a class="hover:bg-gray-400 hover:text-black" href="#">Contact</a></li>
				<li><a class="hover:bg-gray-400 hover:text-black" href="#">News</a></li>
				<li><a class="hover:bg-gray-400 hover:text-black" href="#">Get Updates</a></li>
				<li><a class="hover:bg-gray-400 hover:text-black" href="#">Locations</a></li>
	
			</ul> -->
		</nav>
	</footer>
</Layout>
