---
import Layout from '../layouts/Layout.astro';
import Splash from '../components/Splash.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import About from '../components/About.astro'
import Technologies from '../components/Technologies.astro'
import Projects from '../components/Projects.astro'

---
<!-- icons8-c-programación-480.png -->
<Layout title="Welcome to Astro.">

	<Header/>
	
	<main class=" snap-y snap-mandatory relative w-full h-screen overflow-x-hidden scroll-m-0"> 
		
		
		<section id="home" class="w-full h-screen snap-center"> 
			<Splash/>
		</section>
		
		<section id="about" class="w-full h-screen bg-black pt-20 snap-center">
			<About/>
		</section>
		
		<section id="tecnologies" class="w-full h-screen bg-black snap-center pt-20 justify-center items-center flex ">
			<Technologies/>
		</section>
		
		<section id="projects" class="w-full h-screen bg-black snap-center pt-20 justify-center items-center flex bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/tealExplosion.jpg');">
			<Projects/>
		</section>

		<footer class="snap-center">
			<Footer />
		</footer>

	</main>


</Layout>



 