---
import Layout from '../layouts/Layout.astro';
import Splash from '../components/Splash.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import About from '../components/About.astro'
import Technologies from '../components/Technologies.astro'
import Projects from '../components/Projects.astro'

---

<Layout title="Welcome to Astro.">

	<Header/>
	
	<main class=" snap-y snap-mandatory relative w-full h-screen overflow-x-hidden scroll-m-0"> 
		
		
		<section id="home" class="w-full h-screen snap-center"> 
			<Splash/>
		</section>
		
		<section id="about" class="w-full h-screen bg-black pt-20 snap-center">
			<About/>
		</section>
		
		<section id="tecnologies" class="w-full h-screen bg-gray-800 snap-center pt-20">
			<Technologies/>
		</section>
		
		<section id="projects" class="w-full h-screen bg-teal-400 snap-center pt-20">
			<Projects/>
		</section>

		<footer class="snap-center">
			<Footer />
		</footer>

	</main>


</Layout>



 