<div class="flex bg-violet-900 p-5 h-full rounded-lg  gap-5 ">

    <div class=" bg-gray-500 sm:w-[50%]  text-center rounded-lg p-3">
        <h2 class="bg-black py-10 rounded-lg">LET ME INTRODUCE MYSELF . . .</h2>
        <p class="bg-white text-black m-1 rounded">
            Soy Lautaro Lucas Bertera, un apasionado del desarrollo web con un espíritu emprendedor y en constante aprendizaje. Actualmente, trabajo como freelancer desarrollando sitios web con tecnologías como React, JS, CSS, HTML y Wordpress. Me entusiasma el trabajo en equipo utilizando herramientas como GIT y me esfuerzo por mantenerme actualizado con las últimas tendencias del desarrollo web.
        </p>
        <!-- <p class="bg-white text-black m-1">
            Para complementar mi experiencia práctica, estoy cursando la Licenciatura en Desarrollo de Software. Mi objetivo es seguir ampliando mis conocimientos y adquirir experiencia en proyectos Front-End, poniendo en práctica mis habilidades para crear interfaces dinámicas y atractivas que brinden una experiencia de usuario fluida.
        </p> -->
    </div>

    <div class="  sm:w-[50%] flex  text-center justify-center items-center rounded-lg ">
        <img src="../../public/alien.png"  class="max-h-[50%]" alt="alien">
    </div>

<div/>
    
    
    <!-- Como desarrollador front-end junior, poseo un impresionante arsenal de habilidades en HTML, CSS, JavaScript, React y Tailwind. Me destaco en el diseño y mantenimiento de sitios web responsivos que ofrecen una experiencia de usuario fluida. Mi experiencia radica en la creación de interfaces dinámicas y atractivas mediante la escritura de código limpio y optimizado y el uso de herramientas y técnicas de desarrollo de vanguardia. También trabajo en equipo y me encanta colaborar con equipos multifuncionales para producir aplicaciones web excepcionales. -->






<!-- 
    Me enamoré de la programación y al menos he aprendido algo, creo... 🤷‍♂️ Hablo con fluidez Javascript, React, HTML y CSS entre otros. -->