<div class="flex bg-violet-900 p-3 h-[80%] rounded-3xl m-3  w-[60%] ">

    
    <div class="flex items-start justify-center gap-2.5 p-10 ">
        <img class="w-20 h-20 rounded-full bg-black p-1" src="../../public/alien.png" alt="Jese image">
        <div class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
        
        
        <!-- <p class="text-black">Soy Lautaro Lucas Bertera, un apasionado del desarrollo web con un espíritu emprendedor y en constante aprendizaje. Actualmente, trabajo como freelancer desarrollando sitios web con tecnologías como React, JS, CSS, HTML y Wordpress.</p>
        
        <p class="text-black">Me entusiasma el trabajo en equipo utilizando herramientas como GIT y me esfuerzo por mantenerme actualizado con las últimas tendencias del desarrollo web.</p> -->
        
        </div>
        <button id="dropdownMenuIconButton" data-dropdown-toggle="dropdownDots" data-dropdown-placement="bottom-start" class="inline-flex self-center items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-800 dark:focus:ring-gray-600" type="button">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 4 15">
            <path d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"/>
        </svg>
        </button>
        <div id="dropdownDots" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-40 dark:bg-gray-700 dark:divide-gray-600">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconButton">
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Reply</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Forward</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Copy</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Delete</a>
            </li>
        </ul>
        </div>
    </div>
    

    <!-- <div class=" bg-gray-500 w-full h-full  text-center rounded-lg p-1">
        <h2 class="bg-black py-10 rounded-lg">LET ME INTRODUCE MYSELF . . .</h2>
        <p class="bg-white text-black m-1 rounded sm:p-5 sm:text-xl">
            Soy Lautaro Lucas Bertera, un apasionado del desarrollo web con un espíritu emprendedor y en constante aprendizaje. Actualmente, trabajo como freelancer desarrollando sitios web con tecnologías como React, JS, CSS, HTML y Wordpress. Me entusiasma el trabajo en equipo utilizando herramientas como GIT y me esfuerzo por mantenerme actualizado con las últimas tendencias del desarrollo web.
        </p>
    </div> -->
    <div class=" hidden  sm:w-[60%]  sm:flex  text-center justify-center items-center rounded-lg ">
        <img src="../../public/alien.png"  class="max-h-[50%]" alt="alien">
    </div>
    
    
<div/>
    
    
<!-- ///////////////////////////////
ESTO SERIA PARA PONER EN UN  MODAL o tipo alert en un boton SEE MORE!
///
 ¡Hola y bienvenido a mi web! 
 Soy Lautaro Lucas Bertera, un estudiante de Licenciatura en Desarrollo de Software en U.P.E. 
 Con una sólida formación en tecnología y desarrollo web. Anteriormente, completé una carrera de Frontend en CoderHouse, que consistió en tres cursos en total. Además, tengo una diplomatura en Ciencia de Datos e Inteligencia Artificial de la Universidad Nacional de San Martín (UNSAM).

Durante mi formación académica, he adquirido un amplio conocimiento en diversas áreas del desarrollo, desde el diseño frontend hasta la implementación de soluciones avanzadas en inteligencia artificial. Mi enfoque se centra en la resolución creativa de problemas y en ofrecer soluciones efectivas y personalizadas para los desafíos que enfrentan mis clientes.

Estoy cómodo trabajando con tecnologías como React, JavaScript, Astro y herramientas como Tailwind CSS y Bootstrap para desarrollar proyectos a medida. Además, he adquirido un buen dominio de Git y GitHub, lo que me permite gestionar eficientemente el control de versiones de mis proyectos y colaborar de manera efectiva con otros desarrolladores.

Estoy comprometido a cumplir con los plazos y a entregar proyectos de calidad a mis clientes. En mi tiempo libre, disfruto manteniendo un estilo de vida activo y saludable, practicando deportes al aire libre como el skate, snowboard, surf y kitesurf. También me encanta experimentar con las  recetas  de cocina y explorar diferentes culturas culinarias.

Estoy emocionado de seguir desarrollándome en el campo del desarrollo web y de enfrentar nuevos desafíos que me permitan crecer como profesional. ¡Gracias por visitar mi página y espero poder colaborar contigo en futuros proyectos! -->