<div class="sm:flex bg-violet-900 p-10 h-full rounded-3xl m-3 gap-5 w-[60%]">

    
    <div class="flex items-start justify-center gap-2.5 p-10">
        <img class="w-10 h-10 rounded-full bg-black p-1" src="../../public/alien.png" alt="Jese image">
        <div class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
        
        
        <p class="text-black">Soy Lautaro Lucas Bertera, un apasionado del desarrollo web con un espíritu emprendedor y en constante aprendizaje. Actualmente, trabajo como freelancer desarrollando sitios web con tecnologías como React, JS, CSS, HTML y Wordpress. Me entusiasma el trabajo en equipo utilizando herramientas como GIT y me esfuerzo por mantenerme actualizado con las últimas tendencias del desarrollo web.</p>
        
        </div>
        <button id="dropdownMenuIconButton" data-dropdown-toggle="dropdownDots" data-dropdown-placement="bottom-start" class="inline-flex self-center items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-800 dark:focus:ring-gray-600" type="button">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 4 15">
            <path d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"/>
        </svg>
        </button>
        <div id="dropdownDots" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-40 dark:bg-gray-700 dark:divide-gray-600">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconButton">
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Reply</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Forward</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Copy</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Delete</a>
            </li>
        </ul>
        </div>
    </div>
    

    <!-- <div class=" bg-gray-500 w-full h-full  text-center rounded-lg p-1">
        <h2 class="bg-black py-10 rounded-lg">LET ME INTRODUCE MYSELF . . .</h2>
        <p class="bg-white text-black m-1 rounded sm:p-5 sm:text-xl">
            Soy Lautaro Lucas Bertera, un apasionado del desarrollo web con un espíritu emprendedor y en constante aprendizaje. Actualmente, trabajo como freelancer desarrollando sitios web con tecnologías como React, JS, CSS, HTML y Wordpress. Me entusiasma el trabajo en equipo utilizando herramientas como GIT y me esfuerzo por mantenerme actualizado con las últimas tendencias del desarrollo web.
        </p>
    </div> -->
    <div class=" hidden  sm:w-[60%]  sm:flex  text-center justify-center items-center rounded-lg ">
        <img src="../../public/alien.png"  class="max-h-[50%]" alt="alien">
    </div>
    
    
<div/>
    
    
    <!-- Como desarrollador front-end junior, poseo un impresionante arsenal de habilidades en HTML, CSS, JavaScript, React y Tailwind. Me destaco en el diseño y mantenimiento de sitios web responsivos que ofrecen una experiencia de usuario fluida. Mi experiencia radica en la creación de interfaces dinámicas y atractivas mediante la escritura de código limpio y optimizado y el uso de herramientas y técnicas de desarrollo de vanguardia. También trabajo en equipo y me encanta colaborar con equipos multifuncionales para producir aplicaciones web excepcionales. -->
    
    <!-- <p class="bg-white text-black m-1">
        Para complementar mi experiencia práctica, estoy cursando la Licenciatura en Desarrollo de Software. Mi objetivo es seguir ampliando mis conocimientos y adquirir experiencia en proyectos Front-End, poniendo en práctica mis habilidades para crear interfaces dinámicas y atractivas que brinden una experiencia de usuario fluida.
    </p> -->
    
    
    
    
    
    <!-- 
        Me enamoré de la programación y al menos he aprendido algo, creo... 🤷‍♂️ Hablo con fluidez Javascript, React, HTML y CSS entre otros. -->