<div id="default-carousel" class="relative w-[90%] sm:w-[30%]" data-carousel="slide">

    <div class="relative h-56 overflow-hidden rounded-lg md:h-86 m-5">

        <div class="  flex justify-center items-center rounded-lg  border-4 p-1 sm:p-4 border-gray-600 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
            <img class="h-auto max-w-[100%] sm:max-w-[50%] sm:max-h-[50%] absolute block rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/react-icon.png" alt="">
        </div>
        
        <div class="  flex justify-center items-center rounded-lg  border-4 p-1 sm:p-4 border-gray-600 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
            <img class="h-auto max-w-[100%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/js1.png" alt="">
        </div>
        <div class="  flex justify-center items-center rounded-lg  border-4 p-1 sm:p-4 border-gray-600 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
            <img class="h-auto max-w-[100%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/css(1).png" alt="">
        </div>
        

    </div>
    
    
</div>

<div id="default-carousel" class="relative w-[90%] sm:w-[30%]" data-carousel="slide">

    <div class="relative h-56 overflow-hidden rounded-lg md:h-86 m-5">
        <div class="  flex justify-center items-center rounded-lg mx-auto border-4 p-1 sm:p-4 border-gray-600 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
            <img class="h-auto max-w-[100%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/html-5(3).png" alt="">
        </div>

        <div class="  flex justify-center items-center rounded-lg mx-auto border-4 p-1 sm:p-4 border-gray-600 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
            <img class="h-auto max-w-[100%] sm:max-w-[50%] sm:max-h-[50%] absolute block rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/wordpress.png" alt="">
        </div>
        
        
        <div class="  flex justify-center items-center rounded-lg mx-auto border-4 p-1 sm:p-4 border-gray-600 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
            <img class="h-auto max-w-[100%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/python(2).png" alt="">
        </div>

    </div>
    
    
</div>

<div id="default-carousel" class="relative w-[90%] sm:w-[30%]" data-carousel="slide">
    
    <div class="relative h-56 overflow-hidden rounded-lg md:h-86 m-5">
        
        <div class="  flex justify-center items-center rounded-lg mx-auto border-4 p-1 sm:p-4 border-gray-600 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
            <img class="h-auto max-w-[100%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/9073628_tailwind_icon.png" alt="">
        </div>
        
        <div class="  flex justify-center items-center rounded-lg mx-auto border-4 p-1 sm:p-4 border-gray-600 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
            <img class="h-auto max-w-[100%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/bootstrap.png" alt="">
        </div>
        

        <div class="  flex justify-center items-center rounded-lg mx-auto border-4 p-1 sm:p-4 border-gray-600 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
            <img class="h-auto max-w-[100%] sm:max-w-[50%] sm:max-h-[50%] absolute block rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/mui.png" alt="">
        </div>
        
    </div>
    
    
</div>