<header class="py-4 px-10 flex items-center fixed top-0  w-full justify-between z-50">
    <div class="flex flex-grow basic-0 items-center justify-center sm:justify-normal ">
        
        <img src="../../public/planets.png" class="h-10 w-10"  alt="logo">
        
        <h1 class="pb-1 mx-2 bg-clip-text text-transparent bg-gradient-to-r from-purple-500 to-pink-500 font-extrabold text-xs sm:text-sm md:text-lg lg:text-xl">&lt;LLB/&gt;</h1>
        
    </div >
    <nav class="hidden sm:block">
        <ul class="flex text-xs sm:text-sm md:text-lg lg:text-xl  [&>li>a]:inline-block [&>li>a]:font-bold [&>li>a]:px-4 [&>li>a]:py-2">
            <li><a class="hover:bg-fuchsia-600 rounded" href="#">About</a></li>
            <li><a class="hover:bg-fuchsia-600 rounded" href="#">Tecnologies</a></li>
            <li><a class="hover:bg-fuchsia-600 rounded" href="#">Projects</a></li>
            <li><a class="hover:bg-fuchsia-600 rounded" href="#">Contact</a></li>
        </ul>
    </nav>
</header>

<!--  sm:block  -->