<div class="sm:flex my-20">
    <div class="w-full sm:w-[50%] flex justify-center items-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/projects%2FgammerGear.png?alt=media&token=3f3fff39-f94c-4b03-97f5-6949850d8c8e" class="w-[40rem] rounded-xl" alt="">
    </div>
    <div class="w-[50%] m-10 text-center flex flex-col justify-center items-center gap-10">
        <h3 class="text-4xl font-bold">Gammer Gear</h3>
        <div>
            <span class="bg-blue-100 text-blue-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">React</span>
            <span class="bg-gray-100 text-gray-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">Vite</span>
            <span class="bg-red-100 text-red-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">HTML</span>
            <!-- <span class="bg-green-100 text-green-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Tailwind</span> -->
            <span class="bg-yellow-100 text-yellow-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">JS</span>
            <span class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400">CSS</span>
            <span class="bg-purple-100 text-purple-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400">Boostrap</span>
            <span class="bg-pink-100 text-pink-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border border-pink-400">Firebase</span>
        </div>
        <p class="text-xl ">Este proyecto es un e-shop de componentes informaticos desarrollado en React con Vite para mercado norte americano. Cuenta con categorias dinamicas de productos, React Router Dom con 4 secciones, carrito de compras modificable, servicio de notificaciones y es funcional se puede realizar compras por medio de pedidos. El Backend fue configurado con Firebase a los servicios de DataBase y Storage. El maquetado es con Boostrap y se uso react-spinners para los tiempos muertos en los llamados a la base de datos. </p>
    </div>
</div>

<div class="w-full h-3 bg-white"></div>

<div class="sm:flex my-20">
    <div class="w-[50%] m-10 text-center flex flex-col justify-center items-center gap-10">
        <h3 class="text-4xl font-bold">Surf Club</h3>
        <div>
            <div>
                <!-- <span class="bg-blue-100 text-blue-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">React</span> -->
                <!-- <span class="bg-gray-100 text-gray-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">Astro</span> -->
                <span class="bg-red-100 text-red-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">HTML</span>
                <!-- <span class="bg-green-100 text-green-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Tailwind</span> -->
                <span class="bg-yellow-100 text-yellow-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">JS</span>
                <span class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400">CSS</span>
                <!-- <span class="bg-purple-100 text-purple-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400">Boostrap</span> -->
                <span class="bg-pink-100 text-pink-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border border-pink-400">SASS</span>
            </div>
        </div>
        <p class="text-xl ">Sitio web para cliente "Surf club" fabricante de tablas de Bs As. Fue desarrolado con Vanila JavaScript, HTML, CSS puro, SASS para manejar el css, flexbox y grid para el maquetado. Tiene 4 secciones, catalogo de productos, con formulario de consulta y contacto. Animaciones con la libreria Animate.css. </p>
    </div>
    <div class="w-full sm:w-[50%] flex justify-center items-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/projects%2Fsurfclub.png?alt=media&token=8c021362-da58-4eb0-9034-96d9f2242502" class="w-[40rem] rounded-xl" alt="">
    </div>
</div>

<div class="w-full h-3 bg-white"></div>

<div class="sm:flex my-20">
    <div class="w-full sm:w-[50%] flex justify-center items-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/projects%2Fwebmaster.png?alt=media&token=bea4a3ec-b4ed-4cf9-9cf4-ef373a21d32c" class="w-[40rem] rounded-xl" alt="">
    </div>
    <div class="w-[50%] m-10 text-center flex flex-col justify-center items-center gap-10">
        <h3 class="text-4xl font-bold">Webmaster Studio</h3>
        <div>
            <div>
                <span class="bg-blue-100 text-blue-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">WordPress</span>
                <span class="bg-gray-100 text-gray-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">WPForms</span>
                <!-- <span class="bg-red-100 text-red-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">HTML</span>
                <span class="bg-green-100 text-green-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Tailwind</span>
                <span class="bg-yellow-100 text-yellow-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">JS</span>
                <span class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400">CSS</span>
                <span class="bg-purple-100 text-purple-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400">Boostrap</span>
                <span class="bg-pink-100 text-pink-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border border-pink-400">MUI</span> -->
            </div>
        </div>
        <p class="text-xl ">Web para emprendimiento personal en desarrollo web y software. Fue configurada con WordPress, tiene 4 secciones principales, formulario de contacto con plugin WPForms, secciones de servicios y precios, seccion nosotros.</p>
    </div>
</div>

<div class="w-full h-3 bg-white"></div>

<div class="sm:flex my-20">
    <div class="w-[50%] m-10 text-center flex flex-col justify-center items-center gap-10">
        <h3 class="text-4xl font-bold">Password Generator</h3>
        <div>
            <div>
                <span class="bg-blue-100 text-blue-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">React</span>
                <!-- <span class="bg-gray-100 text-gray-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">Astro</span> -->
                <span class="bg-red-100 text-red-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">HTML</span>
                <!-- <span class="bg-green-100 text-green-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Tailwind</span> -->
                <span class="bg-yellow-100 text-yellow-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">JS</span>
                <span class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400">CSS</span>
                <span class="bg-purple-100 text-purple-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400">Boostrap</span>
                <!-- <span class="bg-pink-100 text-pink-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border border-pink-400">MUI</span> -->
            </div>
        </div>
        <p class="text-xl ">Proyecto desarrollado con React, y maquetado con Boostrap. Principalmente el contenido es un Script generador de constrasenas seguras. Tiene como dependencia instalada la libreria de animaciones animate.css</p>
    </div>
    <div class="w-full sm:w-[50%] flex justify-center items-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/projects%2FsecurePassword.png?alt=media&token=a4a26703-7686-43c4-b967-3335aefab614" class="w-[40rem] rounded-xl" alt="">
    </div>
</div>

<div class="w-full h-3 bg-white"></div>

<div class="sm:flex my-20">
    <div class="w-full sm:w-[50%] flex justify-center items-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/projects%2FglobalTransportFull.png?alt=media&token=30ea4fba-e41f-48e9-b0cd-5f3199c5ddc7" class="w-[40rem] rounded-xl" alt="">
    </div>
    <div class="w-[50%] m-10 text-center flex flex-col justify-center items-center gap-10">
        <h3 class="text-4xl font-bold">Global Transport</h3>
        <div>
            <div>
                <!-- <span class="bg-blue-100 text-blue-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">React</span>
                <span class="bg-gray-100 text-gray-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">Astro</span> -->
                <span class="bg-red-100 text-red-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">HTML</span>
                <!-- <span class="bg-green-100 text-green-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Tailwind</span> -->
                <!-- <span class="bg-yellow-100 text-yellow-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">JS</span> -->
                <span class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400">CSS</span>
                <!-- <span class="bg-purple-100 text-purple-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400">Boostrap</span> -->
                <!-- <span class="bg-pink-100 text-pink-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border border-pink-400">MUI</span> -->
            </div>
        </div>
        <p class="text-xl ">Sitio web para empresa de transporte en Buenos Aires. Desarrollada con HTML y CSS. Se utilizo para maquetar Grid y animaciones con css puro. Seccion Nosotros, Ubicacion y Contacto.</p>
    </div>
</div>

<div class="w-full h-3 bg-white"></div>

<div class="sm:flex my-20">
    <div class="w-[50%] m-10 text-center flex flex-col justify-center items-center gap-10">
        <h3 class="text-4xl font-bold">Clon de Testa website</h3>
        <div>
            <div>
                <!-- <span class="bg-blue-100 text-blue-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">React</span> -->
                <span class="bg-gray-100 text-gray-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">Astro</span>
                <span class="bg-red-100 text-red-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">HTML</span>
                <span class="bg-green-100 text-green-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Tailwind</span>
                <span class="bg-yellow-100 text-yellow-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">JS</span>
                <span class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400">CSS</span>
                <!-- <span class="bg-purple-100 text-purple-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400">Boostrap</span> -->
                <!-- <span class="bg-pink-100 text-pink-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border border-pink-400">MUI</span> -->
            </div>
        </div>
        <p class="text-xl">Proyecto actualmente en desarrollo de un Clon del website de Tesla creado con el framework Astro Utilizando Vite, HTML y JavaScript para animaciones e interacciones, maquetado con Tailwind y Flexbox </p>
    </div>
    <div class="w-full sm:w-[50%] flex justify-center items-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/portfolioreacttailwind.appspot.com/o/projects%2FteslaFull.png?alt=media&token=fb091126-de90-4ef0-8e0a-579da2059a2c" class="w-[40rem] rounded-xl" alt="">
    </div>
</div>

