---
import Starfield from "./starfield.astro";
---

<section class="relative h-full bg-black">
  <Starfield />
  
  <div class="relative grid  h-full place-items-center ">
    
    <div class="  flex">

      <div class=" font-extrabold tracking-widest bg-clip-text text-transparent bg-gradient-to-r from-purple-500 to-pink-500 animate__animated animate__flash animate__delay-1s animate__repeat-2 ">
        <p class="text-start text-2xl">&lt;LLB/&gt;</p>
        <p class="text-center text-7xl">Frontend</p>
        <p class="text-end text-7xl">dev.</p>
      </div>

    </div>

  </div>
  
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
 
  @media (prefers-reduced-motion: reduce) {
    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>


<!-- sm:grid-cols-2 --> 

<!-- 

<h2 class="flex flex-col items-center gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end">
      <img src="../../public/galaxy2.png" class="h-20 w-20" alt="">
      <div class="gradient-text text-center font-extrabold tracking-tighter text-8xl">
        LLB
        <br /> frontend,
        <br /> dev.
      </div>
    </h2>

-->



<!-- <div class=" font-extrabold tracking-widest text-8xl">
  <img src="../../public/alien.png" class="w-20 h-20" alt="">
  <p class="text-start">&lt;LLB/&gt;</p>
  <p class="text-center">frontend</p>
  <p class="text-end">dev.</p>
</div> -->

